/* /Pages/Cart.razor.rz.scp.css */
.item-container[b-lnlx6rw7se] {
    display: flex;
    padding: 6px;
}

.item-image-wrapper[b-lnlx6rw7se]{
    width: 150px;
    text-align: center;
}

.item-image[b-lnlx6rw7se]{
    max-height: 150px;
    max-width: 150px;
    padding: 6px;
}

.item-name[b-lnlx6rw7se]{
    flex-grow: 1;
    padding: 6px;
}

.item-price[b-lnlx6rw7se]{
    font-weight: 600;
    text-align: right;
}

.item-total-price[b-lnlx6rw7se] {
    font-weight: 700;
    text-align: right;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-s1mxkft87f] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-s1mxkft87f] {
    flex: 1;
}

.sidebar[b-s1mxkft87f] {
    background: rgb(255,103,57);
    background: linear-gradient(90deg, rgba(255,103,57,1) 0%, rgba(9,20,215,1) 100%);
}

.top-row[b-s1mxkft87f] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-s1mxkft87f]  a, .top-row .btn-link[b-s1mxkft87f] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-s1mxkft87f] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-s1mxkft87f] {
        /*display: none;*/
    }

    .top-row.auth[b-s1mxkft87f] {
        justify-content: space-between;
    }

    .top-row a[b-s1mxkft87f], .top-row .btn-link[b-s1mxkft87f] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-s1mxkft87f] {
        flex-direction: row;
    }

    .sidebar[b-s1mxkft87f] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-s1mxkft87f] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-s1mxkft87f] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-s9gg6siv4s] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-s9gg6siv4s] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-s9gg6siv4s] {
    font-size: 1.1rem;
}

.oi[b-s9gg6siv4s] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-s9gg6siv4s] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-s9gg6siv4s] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-s9gg6siv4s] {
        padding-bottom: 1rem;
    }

    .nav-item[b-s9gg6siv4s]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-s9gg6siv4s]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-s9gg6siv4s]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-s9gg6siv4s] {
        display: none;
    }

    .collapse[b-s9gg6siv4s] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
